@import '../scss/var';
@import '../scss/vendor';
@import '../scss/mixin';
html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.container{
    background-color: $main_color;
}
header{
    width: 100%;
    background: $header_gradient;

    & h1{
        color: $text_color;
        padding: 1rem 0;
    }
}
.bookmarker{
    background: linear-gradient(rgba(24, 20, 20, 0.5),rgba(18, 17, 17, 0.5)) $main_color;
    padding: 1rem 1rem;
    color: $text_color;

    & .bookmarkForm{
        @include content_center();
    }
    & .styleBtn{
        margin-top: 1rem;
        @include btnStyle;
        &:hover{
            @include hovereffects;
        }
    }
    & .error{
        height: 1rem;
        color: red;
        font-weight: bold;
        display: block;
        text-align: center;
    }
}
.resultTable{
    border-collapse: collapse;
    width: 100%;
    color: $text_color;

    & td, th{ 
        padding: 1rem;
    }
    & th{
        padding: 1rem;
        text-align: center;
        background-color: $primary_color;
        opacity: 0.8;
    }
    & tr{
        text-align: center;
    }
    & tr:nth-child(odd){
        background-color: #4b395c;
    }
    & tr:hover{
        background-color: rgb(95, 85, 124);
    }
}
.modalContainer{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-open{
    display: flex;

    & .confirmModal{
        color: $text_color;
        background: $header_gradient;
        line-height: 1rem;
        padding: 3rem;
        margin-top: -15%;

        & .modalContent{
            margin: 1rem 0rem;
        }
        & .modalFooter{
            text-align: right;

            & .modalBtn{
                padding: 1rem 2rem;
                border: none;
                outline: none;
                border-radius: 0.2rem;
                color: $text_color;
                background-color: rgb(128, 104, 104);
            }
            & .modalConfirmBtn{
                background-color: #dc3545;
            }
        }
    }
}